<div class="main-content">
  <div class="section-content section-content-p30">
    <div class="container-fluid">
      <div class="row">
        <!-- Loop over the collection of products -->
        <div *ngFor="let prod of products" class="col-md-3">
          <div class="product-box">
            <img src="{{ prod.imageUrl }}" class="img-responsive">
            <h1>{{ prod.name }}</h1>
            <div class="price">{{ prod.unitPrice | currency: 'USD' }}</div>
            <a href="#" class="primary-btn">Add to Cart</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
